<!DOCTYPE html>
<html>
	<head>
		<base href="{{{base || prefix + '/'}}}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Honchar Denys" />

		<title>{{{title}}}</title>
		<meta itemprop="name" content="{{{title}}}" />
		<meta name="twitter:title" content="{{{title}}}" />
		<meta property="og:title" content="{{{title}}}" />

		<meta name="description" content="{{{description}}}" />
		<meta itemprop="description" content="{{{description}}}" />
		<meta name="twitter:description" content="{{{description}}}" />
		<meta property="og:description" content="{{{description}}}" />

		<meta itemprop="image" content="{{{image}}}" />
		<meta name="twitter:image:src" content="{{{image}}}" />
		<meta property="og:image" content="{{{image}}}" />

		<link rel="icon" type="image/x-icon" href="assets/favicon.png" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<div class="main-contents">
			<main class="main-content__sections">
				<!-- HTML -->
				<footer class="footer">
					<div class="footer-wrap">
						<div class="footer__item-link">
							<div class="footer__link-title">Ігри</div>
							<a href="/#/game/beatsaber" class="footer__link"
								>Beat Saber</a
							>
							<a href="/#/game/amongus" class="footer__link"
								>Among us</a
							>
							<a href="/#/game/aimxr" class="footer__link"
								>Aim XR</a
							>
							<a href="/#/game/roblox" class="footer__link"
								>Roblox</a
							>
							<a href="/#/game/populationone" class="footer__link"
								>Population: One</a
							>
							<a href="/#/game/elvenassassin" class="footer__link"
								>Elven Assassin</a
							>
						</div>
						<div class="footer__item-link">
							<div class="footer__link-title">
								Корисні посилання
							</div>
							<a href="/terms" class="footer__link">Правила</a>
							<a href="/memberships" class="footer__link"
								>Підписки</a
							>
							<a href="/#/book" class="footer__link"
								>Резервація</a
							>
							<a href="/#/profile" class="footer__link"
								>Профіль</a
							>
						</div>
						<div class="footer__item-link">
							<div class="footer__link-title">
								Соціальні мережі
							</div>
							<a
								href="https://www.instagram.com/vrarenakp/"
								class="footer__link"
								>Інстаграм</a
							>
							<a
								href="https://www.tiktok.com/@vrarenakp"
								class="footer__link"
								>Тікток</a
							>
						</div>
					</div>
					<p class="footer__text">
						<span class="footer__text-part"
							>Copyright ©2025 VR Arena</span
						>
						<span class="footer__text-part">
							Architected by Honchar Denys</span
						>
					</p>
				</footer>
			</main>
		</div>
		<script src="js/index.js"></script>
	</body>
</html>
