<h1>Правила підписки VR Arena</h1>
<ul>
    <li>1. Підписки <strong>не продаються</strong> – їх можна отримати лише у розіграшах, акціях або спеціальних заходах клубу.</li>
    <li>2. Підписка діє на одну особу і не може бути передана іншій людині.</li>
    <li>3. Використання підписки для бронювання місця на іншу людину призведе до її анулювання.</li>
</ul>

<h2>Підписки</h2>

<h4>Золота</h4>
<p>знижка - 150 грн</p>

<h4>Срібна</h4>
<p>знижка - 100 грн</p>

<h4>Бронзова</h4>
<p>знижка - 50 грн</p>