<header class="header-info">
    <div class="container">
        <div class="header-info-wrapper">
            <div class="header-info__logo">
                <img src="img/logo.png" alt="" />
            </div>
            <!--
                <ul class="header-info-navigation">
                <li><a href="/#/games">Ігри</a></li>
                <li><a href="/#/book">Резервація</a></li>
            </ul>
            -->
            <div class="burger-wrap">
                <div class="burger"></div>
            </div>
            <div class="header-info-socials">
                <a href="https://vrarena.webart.work/#/book">
                    <img src="img/icons/resev.svg" alt="" />
                </a>
                <a href="https://vrarena.webart.work/#/games">
                    <img src="img/icons/games.svg" alt="" />
                </a>
                <a href="tel:+380972528770">
                    <img src="img/icons/call.svg" alt="" />
                </a>
                <a href="/#/profile">
                    <img src="img/icons/sign.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</header>

<section class="member about">
    <div class="container">
        <h1 class="rules__main-title member-title">Правила підписки VR Arena</h1>
        <ul class="member-list">
            <li class="rules-subtitle"><div class="rules-subtitle__number">1</div> <div class="rules-subtitle__text member__rules-text">Підписки <strong>не продаються</strong> – їх можна отримати лише у розіграшах, акціях або спеціальних заходах клубу.</div></li>
            <li class="rules-subtitle"> <div class="rules-subtitle__number">2</div> <div class="rules-subtitle__text member__rules-text">Підписка діє на одну особу і не може бути передана іншій людині.</div></li>
            <li class="rules-subtitle"> <div class="rules-subtitle__number">3</div>  <div class="rules-subtitle__text member__rules-text">Використання підписки для бронювання місця на іншу людину призведе до її анулювання.</div></li>
        </ul>

        <h2 class="rules__main-title member-title member-title--subs">Підписки</h2>

        <div class="member-wrapper">
            <div class="member__wrap">
                <div class="member__item">
                    <div class="member__title">
                        Золота
                    </div>
                    <div class="member__description">
                        знижка - <span>150 грн</span>
                    </div>
                </div>
            </div>
            <div class="member__wrap">
                <div class="member__item">
                    <div class="member__title">
                        Срібна
                    </div>
                    <div class="member__description">
                        знижка - <span>100 грн</span>
                    </div>
                </div>
            </div>
            <div class="member__wrap">
                <div class="member__item">
                    <div class="member__title">
                        Бронзова
                    </div>
                    <div class="member__description">
                        знижка - <span>50 грн</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

