<section class="welcome">
	<header class="header-info">
		<div class="container">
			<div class="header-info-wrapper">
				<div class="header-info__logo">
					<img src="img/logo.png" alt="" />
				</div>
				<!--
					<ul class="header-info-navigation">
					<li><a href="/#/games">Ігри</a></li>
					<li><a href="/#/book">Резервація</a></li>
				</ul>
				-->
				<div class="burger-wrap">
					<div class="burger"></div>
				</div>
				<div class="header-info-socials">
					<a href="https://vrarena.webart.work/#/book" target="_blank">
						<img src="img/icons/resev.svg" alt="" />
					</a>
					<a href="https://vrarena.webart.work/#/games" target="_blank">
						<img src="img/icons/games.svg" alt="" />
					</a>
					<a href="tel:+380972528770">
						<img src="img/icons/call.svg" alt="" />
					</a>
					<a href="/#/profile">
						<img src="img/icons/sign.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="welcome__title">VR<span>ARENA</span></div>
		<div class="welcome__description">
			Сучасний клуб віртуальної реальності <br />
			Зануртеся у світ неймовірних пригод, ігор та симуляцій!
		</div>
	</div>
</section>
<div class="about">
	<div class="container">
		<div class="global-title">
			<div class="global-title__img">
				<img src="img/icons/title.svg" alt="" />
			</div>
			<div class="global-title__text">резервація</div>
		</div>
		<div class="about-wrapper">
			<div class="about-img">
				<img src="img/about.svg" alt="">
			</div>
			<div class="about-text">
				<div class="about-text__title">
					Готові до гри? Забронюйте час!
				</div>
				<div class="about-text__description">
					Комфортне середовище, зручне керування. Оберіть зручний час та насолоджуйтеся зануренням у нові
					світи.
				</div>
				<ul class="about-list">
					<li>
						<div class="about-list__img"></div>
						<div class="about-list__text"><span>У комплекті:</span> 4 VR-окуляри Meta Quest 3</div>
					</li>
					<li>
						<div class="about-list__img"></div>
						<div class="about-list__text"><span>Керування —</span> джойстики Meta Touch</div>
					</li>
					<li>
						<div class="about-list__img"></div>
						<div class="about-list__text"><span>Ігри —</span> стоячи або сидячи на пуфах</div>
					</li>
					<li>
						<div class="about-list__img"></div>
						<div class="about-list__text">Можна бути босим або у взутті <span>— ми надамо бахіли</span>
						</div>
					</li>
				</ul>
				<div class="about-price">
					<div class="about-price__img">
						<img src="img/icons/price.svg" alt="">
					</div>
					<div class="about-price__text">
						1000 грн / 1 година
					</div>
				</div>
				<a href="/#/book" class="contacts-info__info contacts-info__info--resev about__btn">
					<img height="64" src="img/icons/book.svg" alt="" />
					<span>Зарезервувати</span>
				</a>
			</div>
		</div>
	</div>
</div>
<section class="games">
	<div class="container">
		<div class="global-title">
			<div class="global-title__img">
				<img src="img/icons/title.svg" alt="" />
			</div>
			<div class="global-title__text">ІГРИ</div>
		</div>
		<div class="games-list">
			<div class="games-wrap">
				<div class="games-item">
					<div class="games-img">
						<img src="img/games/1.png" alt="" />
						<div class="games-img__age">10+</div>
					</div>
					<div class="games-text">
						<div class="games-text__title">Among Us</div>
						<div class="games-text__description">
							Це захоплююча багатокористувацька гра, де команда
							гравців намагається виконати завдання на космічному
							кораблі, в той час як один або кілька гравців є
							«самозванцями», які саботують і намагаються усунути
							інших.
						</div>
						<div class="games-text__btn">
							<a href="https://vrarena.webart.work/#/game/amongus">Більше про гру</a>
						</div>
					</div>
				</div>
			</div>
			<div class="games-wrap">
				<div class="games-item">
					<div class="games-img">
						<img src="img/games/2.png" alt="" />
						<div class="games-img__age">8+</div>
					</div>
					<div class="games-text">
						<div class="games-text__title">Beat Saber</div>
						<div class="games-text__description">
							Це динамічна ритм-гра у віртуальній реальності, де
							гравці розсікають світловими мечами блоки під ритм
							музики. Завдання – вчасно розмахувати контролерами,
							уникаючи перешкод і набираючи максимальну кількість
							очок.
						</div>
						<div class="games-text__btn">
							<a href="https://vrarena.webart.work/#/game/beatsaber">Більше про гру</a>
						</div>
					</div>
				</div>
			</div>
			<div class="games-wrap">
				<div class="games-item">
					<div class="games-img">
						<img src="img/games/3.png" alt="" />
						<div class="games-img__age">7+</div>
					</div>
					<div class="games-text">
						<div class="games-text__title">Elven Assassin</div>
						<div class="games-text__description">
							Це кооперативний VR-шутер, де гравці в ролі
							ельфійських лучників захищають місто від хвиль орків
							і тролів. Використовуйте точність, стратегію та
							магічні стріли, щоб вижити в битвах PvE або
							змагатися в PvP-дуелях.
						</div>
						<div class="games-text__btn">
							<a href="https://vrarena.webart.work/#/game/elvenassassin">Більше про гру</a>
						</div>
					</div>
				</div>
			</div>
			<div class="games-wrap">
				<div class="games-item">
					<div class="games-img">
						<img src="img/games/4.png" alt="" />
						<div class="games-img__age">12+</div>
					</div>
					<div class="games-text">
						<div class="games-text__title">Population: One</div>
						<div class="games-text__description">
							Це динамічний багатокористувацький шутер у
							віртуальній реальності, де гравці змагаються в
							режимі "королівська битва". Вони можуть лазити по
							стінах, планерувати з висоти та будувати укриття,
							використовуючи тактичні можливості для виживання.
						</div>
						<div class="games-text__btn">
							<a href="https://vrarena.webart.work/#/game/populationone">Більше про гру</a>
						</div>
					</div>
				</div>
			</div>
			<div class="games-wrap">
				<div class="games-item">
					<div class="games-img">
						<img src="img/games/5.png" alt="" />
						<div class="games-img__age">8+</div>
					</div>
					<div class="games-text">
						<div class="games-text__title">Roblox</div>
						<div class="games-text__description">
							Це багатокористувацька онлайн-платформа, де гравці
							можуть створювати власні ігри, досліджувати світи
							інших користувачів та взаємодіяти у творчому
							середовищі. Ідеально підходить для дітей та
							підлітків.
						</div>
						<div class="games-text__btn">
							<a href="https://vrarena.webart.work/#/game/roblox">Більше про гру</a>
						</div>
					</div>
				</div>
			</div>
			<div class="games-wrap">
				<div class="games-item">
					<div class="games-img">
						<img src="img/games/6.png" alt="" />
						<div class="games-img__age">12+</div>
					</div>
					<div class="games-text">
						<div class="games-text__title">Aim XR</div>
						<div class="games-text__description">
							Це високотехнологічний VR-шутер, що пропонує
							командні змагання та тренування точності стрільби.
							Гравці можуть удосконалювати свої навички,
							змагаючись у різних режимах гри та використовуючи
							широкий вибір зброї та сценаріїв. Ідеально підходить
							для любителів стрілянок та командних тактичних ігор.
						</div>
						<div class="games-text__btn">
							<a href="https://vrarena.webart.work/#/game/aimxr">Більше про гру</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="news">
	<div class="container">
		<div class="global-title">
			<div class="global-title__img">
				<img src="img/icons/title.svg" alt="" />
			</div>
			<div class="global-title__text">НОВИНИ</div>
		</div>
		<div class="news-wrap">
			<div class="news__wrap">
				<div class="news__item">
					<div class="news__img">
						<img src="img/articles/art1.png" alt="" />
					</div>
					<div class="news__title">
						Ми вже відчинені!
					</div>
					<div class="news__description">
						VR Arena вже працює!<br>
						Приходьте щодня, бронюйте час і занурюйтесь у світ віртуальних пригод разом із друзями.<br>
						🕒 Графік роботи: щодня з 10:00 до 22:00<br>
						📍 Кам’янець-Подільський, вул. Привокзальна 17а<br>
						📞 Не забудьте попередньо забронювати свій час!
					</div>
					<div class="news__btn">
						<a href="/article" class="btn-blog">Читати більше</a>
					</div>
				</div>
			</div>
			<div class="news__wrap">
				<div class="news__item">
					<div class="news__img">
						<img src="img/articles/art2.png" alt="" />
					</div>
					<div class="news__title">
						З якого віку можна грати у VR?
					</div>
					<div class="news__description">
						Рекомендуємо VR-ігри для дітей від 7 років.<br>
						У 7 років вони більш свідомо розуміють, де вони
						знаходяться, слухають і слідують правилам.<br>
						Діти можуть злякатися, не зрозуміти куди дівся
						звичний для них світ <strong>плутати реальність</strong> з віртуальним світом...
					</div>
					<div class="news__btn">
						<a href="/article" class="btn-blog">Читати більше</a>
					</div>
				</div>
			</div>
			<div class="news__wrap">
				<div class="news__item">
					<div class="news__img">
						<img src="img/articles/art3.png" alt="" />
					</div>
					<div class="news__title">
						Що взяти з собою на VR-сесію?
					</div>
					<div class="news__description">
						Все просто — нічого зайвого!<br>
						✔ Одягніть комфортний одяг, у якому зручно рухатись<br>
						✔ Настрій беріть найкращий — емоції будуть ще кращі<br>
						✔ Босоніж або у взутті — не проблема, ми надамо бахіли<br>

						Усе необхідне для гри ми підготуємо на місці...
					</div>
					<div class="news__btn">
						<a href="/article" class="btn-blog">Читати більше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contacts">
	<div class="container" style="min-height: 400px">
		<div class="global-title">
			<div class="global-title__img">
				<img src="img/icons/title.svg" alt="" />
			</div>
			<div class="global-title__text">КОНТАКТИ</div>
		</div>
		<div class="contacts-wrap">
			<div class="contacts-info">
				<a href="https://www.google.com/maps/place/VR+Arena+%E2%80%93+%D0%9A%D0%BB%D1%83%D0%B1+%D0%B2%D1%96%D1%80%D1%82%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%97+%D1%80%D0%B5%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%96/@48.6735872,26.574848,14z/data=!4m6!3m5!1s0x4733b95994ef2f55:0x1351acb6925d0bb9!8m2!3d48.6864793!4d26.6003502!16s%2Fg%2F11m68jtkmz?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMxNi4wIKXMDSoASAFQAw%3D%3D"
					class="contacts-info__info contacts-info__info--first">
					<img height="64" src="img/icons/loc.svg" alt="" />
					Адреса: вулиця Привокзальна, 17а,
					Кам'янець-Подільський, Хмельницька область,
					32306
				</a>
				<a href="" class="contacts-info__info">
					<img src="img/icons/clock.svg" alt="" />
					Працюємо щоденно з 10:00 до 22:00
				</a>
				<a href="tel:0972528770" class="contacts-info__info">
					<img src="img/cont.svg" alt="" />
					+380972528770
				</a>
				<a href="/#/book" class="contacts-info__info contacts-info__info--resev">
					<img height="64" src="img/icons/book.svg" alt="" />
					<span>Резервація</span>
				</a>
			</div>
			<div class="contacts-map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d42134.102616406446!2d26.7215867!3d48.6981904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4733b95994ef2f55%3A0x1351acb6925d0bb9!2zVlIgQXJlbmEg4oCTINCa0LvRg9CxINCy0ZbRgNGC0YPQsNC70YzQvdC-0Zcg0YDQtdCw0LvRjNC90L7RgdGC0ZY!5e0!3m2!1suk!2sua!4v1742381341927!5m2!1suk!2sua"
					width="100%" height="100%" style="border: 0" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</section>
<script>
	function initMap() {
		const map = new google.maps.Map(document.getElementById("map"), {
			center: { lat: 50.4501, lng: 30.5234 }, // Київ, змінюй за потребою
			zoom: 12,
			styles: [
				{
					elementType: "geometry",
					stylers: [{ color: "#1d1d1d" }]
				},
				{
					elementType: "labels.text.fill",
					stylers: [{ color: "#bfa2ff" }]
				},
				{
					elementType: "labels.text.stroke",
					stylers: [{ color: "#000000" }]
				},
				{
					featureType: "administrative",
					elementType: "geometry",
					stylers: [{ color: "#6644aa" }]
				},
				{
					featureType: "poi",
					elementType: "geometry",
					stylers: [{ color: "#2b2b2b" }]
				},
				{
					featureType: "road",
					elementType: "geometry",
					stylers: [{ color: "#3d3d3d" }]
				},
				{
					featureType: "road",
					elementType: "labels.text.fill",
					stylers: [{ color: "#a873ff" }]
				},
				{
					featureType: "water",
					elementType: "geometry",
					stylers: [{ color: "#121212" }]
				},
				{
					featureType: "water",
					elementType: "labels.text.fill",
					stylers: [{ color: "#8c6dff" }]
				}
			]
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=ТВОЙ_API_КЛЮЧ&callback=initMap" defer></script>