<h1>Правила клубу VR Arena</h1>

<h2>1. Загальні правила</h2>
<ul>
    <li>У клубі можуть грати всі без вікових обмежень.</li>
    <li>Бронювання здійснюється через сайт VR Arena з 10:00 до 22:00.</li>
    <li> Відвідувачі зобов’язані дотримуватися чистоти та порядку в клубі.</li>
    <li>Адміністрація має право відмовити у послугах за порушення правил.</li>
</ul>

<h2>2. Використання VR-обладнання</h2>
<ul>
    <li>Гравці повинні акуратно поводитися з гарнітурою, контролерами та іншим обладнанням.</li>
    <li> Заборонено бігати, робити рухи, які можуть спричинити травми чи пошкодження обладнання.</li>
    <li>Будь-які пошкодження обладнання з вини гравця підлягають компенсації.</li>
</ul>

<h2>3. Безпека та відповідальність</h2>
<ul>
    <li>Заборонено агресивну поведінку, конфлікти, вживати їжу та напої.</li>
    <li>Дотримання інструкцій персоналу є обов’язковим.</li>
    <li>Відвідувач самостійно відповідає за своє самопочуття під час гри у VR.</li>
    <li>Клуб не несе відповідальності за особисті речі, залишені без нагляду.</li>
    <li>За порушення правил адміністрація має право припинити сеанс без повернення коштів.</li>
</ul>

<h2>4. Оплата та бронювання</h2>
<ul>
    <li>Оплата здійснюється відповідно до тарифів на сайті.</li>
    <li>Бронювання можна скасувати не менш ніж за 24 години до початку гри, в іншому випадку кошти не повертаються.</li>
</ul>