<div class="auth-wrapper">
	<div class="auth__wrap">
		<div class="auth__img">
			<vrglass-icon
				(click)="us.setMode(us.mode === 'dark' ? 'white' : 'dark')"
			></vrglass-icon>
		</div>
		<div class="auth__form">
			<div class="auth">
				<span
					class="material-icons auth__icon"
					(click)="us.setMode('dark')"
					*ngIf="us.mode === 'white'"
				>
					light_mode
				</span>
				<span
					class="material-icons auth__icon"
					(click)="us.setMode('white')"
					*ngIf="us.mode === 'dark'"
				>
					dark_mode
				</span>
				<wform (wSubmit)="submit()" [submition]="user" [config]="form">
				</wform>
			</div>
		</div>
	</div>
</div>
