<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Забронюйте час гри</div>
			</div>
			<div class="documents-main documents-main--nobar">
				<div class="documents-main-content">
					<div class="documents-main-row" *ngIf="show === 'calendar'">
						<wcalendar
							(todayClicked)="setDate($event)"
							(dateClicked)="setDate($event)"
						></wcalendar>
					</div>
					<div class="documents-main-row" *ngIf="show === 'date'">
						<div class="book__header">
							<span class="book__header-date"
								>{{reservation.date | date: 'dd.MM.yyyy'}}</span
							>

							<wbutton
								class="w-btn _primary book__header-btn"
								(click)="show = 'calendar'"
								translate
								>Common.Change Date</wbutton
							>
						</div>

						<div class="book__time">
							<winput
								*ngFor="let time of times"
								[disabled]="!!reservationsByDateTime[reservation.date+time]"
								(wChange)="setTime(time, $event)"
								class="book-input"
								type="checkbox"
								[label]="time"
							></winput>
						</div>
						<winput
							(wChange)="reservation.name = $event + ''; update()"
							[value]="userService.user.name || reservation.name"
							placeholder="Ваше ім`я"
							class="book-input"
							label="Ім`я"
						></winput>
						<winput
							(wChange)="reservation.phone = $event + ''; update()"
							[value]="userService.user.phone || reservation.phone"
							placeholder="Ваш телефон"
							class="book-input"
							label="Телефон"
						></winput>
						<winput
							(wChange)="reservation.notes = $event + ''; update()"
							[value]="reservation.notes"
							placeholder="Додаткова інформація"
							class="book-input"
							label="Інформація"
						></winput>
						<wbutton
							[class.disabled]="!reservation.times.length || !reservation.name || !reservation.phone"
							[disabled]="!reservation.times.length || !reservation.name || !reservation.phone"
							(wClick)="book()"
						>
							<span translate>Common.Book</span>
						</wbutton>
					</div>
					<div
						class="documents-main-row book-finish"
						*ngIf="show === 'booked'"
					>
						<div>
							Ваше прохання щодо бронювання на обрану годину
							прийнято. Наш менеджер зв'яжеться з вами найближчим
							часом для підтвердження. Дякуємо за ваш вибір!
						</div>
						<a routerLink="/reservations" translate
							>Common.My reservations</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
