<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Забронюйте час гри</div>
			</div>
			<div class="documents-main documents-main--nobar">
				<div class="documents-main-content">
					<div class="documents-main-row" *ngIf="show === 'calendar'">
						<wcalendar (dateClicked)="setDate($event)"></wcalendar>
					</div>
					<div class="documents-main-row" *ngIf="show === 'date'">
						<span>{{reservation.date | date: 'dd.MM.yyyy'}}</span>

						<wbutton (click)="show = 'calendar'" translate
							>Common.Change Date</wbutton
						>

						<winput
							*ngFor="let time of times"
							[disabled]="!!reservationsByDateTime[reservation.date+time]"
							(wChange)="setTime(time, $event)"
							class="book-input"
							type="checkbox"
							[label]="time"
						></winput>
						<winput
							(wChange)="reservation.name = $event + ''"
							[value]="userService.user.name"
							placeholder="Ваше імя"
							class="book-input"
							label="Імя"
						></winput>
						<winput
							(wChange)="reservation.phone = $event + ''"
							[value]="userService.user.phone"
							placeholder="Ваше телефрон"
							class="book-input"
							label="Телефрон"
						></winput>
						<winput
							(wChange)="reservation.notes = $event + ''"
							placeholder="Додаткова інформація"
							class="book-input"
							label="Інформація"
						></winput>
						<wbutton
							[class.disabled]="!reservation.times.length || !reservation.name || !reservation.phone"
							[disabled]="!reservation.times.length || !reservation.name || !reservation.phone"
							(wClick)="book()"
						>
							<span translate>Common.Book</span>
						</wbutton>
					</div>
					<div
						class="documents-main-row book-finish"
						*ngIf="show === 'booked'"
					>
						<div>
							Ваше прохання щодо бронювання на обрану годину
							прийнято. Наш менеджер зв'яжеться з вами найближчим
							часом для підтвердження. Дякуємо за ваш вибір!
						</div>
						<a routerLink="/reservations" translate
							>Common.My reservations</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
