<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title" translate>
					Common.Reservations
				</div>
			</div>
			<div class="documents-main documents-main--nobar">
				<div class="documents-main-content">
					<div class="documents-main-row" *ngFor="let book of []">
						<div class="documents__title bookings-title">
							<span translate>Common.Reservation</span>
							<!-- <span>#1</span> -->
						</div>
						<div class="bookings-list">
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">hourglass_top</i>
								</div>
								<div class="bookings__text">
									Час: <span>23 : 00</span>
								</div>
							</div>
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">date_range</i>
								</div>
								<div class="bookings__text">
									Дата: <span>00.00.0000</span>
								</div>
							</div>
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">sports_esports</i>
								</div>
								<div class="bookings__text">
									Гра: <span>Назва гри</span>
								</div>
							</div>
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">payments</i>
								</div>
								<div class="bookings__text">
									Ціна: <span>500грн</span>
								</div>
							</div>
						</div>
						<!-- <div class="bookings-winner">
							<div class="bookings-winner__icon">
								<i class="material-icons">emoji_events</i>
							</div>
							<div class="bookings-winner__text">
								Імм'я переможця
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
