<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title" translate>
					Common.Reservations
				</div>
			</div>
			<div class="documents-main documents-main--nobar">
				<div class="documents-main-content">
					<div
						*ngIf="!reservations?.length"
						class="documents-main-row"
					>
						<div class="documents__title bookings-title" translate>
							Common.You don't have reserervations yet
						</div>
					</div>

					<div
						*ngFor="let reservation of reservations"
						class="documents-main-row"
					>
						<div class="documents__title bookings-title">
							<span translate>Common.Reservation</span>
							<span> - </span>
							<span
								>{{'Status.' + reservation.status |
								translate}}</span
							>
							<ng-container
								*ngIf="isManager && reservation.status === 'New'"
							>
								<div class="bookings-title-icons">
									<i
										class="material-icons green"
										(click)="
									reservation.status = 'Confirmed';
									update(reservation)
								"
										>check_circle</i
									>
									<i
										class="material-icons red"
										(click)="
									reservation.status = 'Denied';
									update(reservation)
								"
										>cancel</i
									>
								</div>
							</ng-container>
						</div>
						<div class="bookings-list">
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">date_range</i>
								</div>
								<div class="bookings__text">
									Дата:
									<span
										>{{ reservation.date | date:
										'dd.MM.yyyy' }}
									</span>
								</div>
							</div>
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">hourglass_top</i>
								</div>
								<div class="bookings__text">
									Час:
									<span>{{reservation.times | times}}</span>
								</div>
							</div>
							<div class="bookings__item" *ngIf="isManager">
								<div class="bookings__icon">
									<i class="material-icons">person</i>
								</div>
								<div class="bookings__text">
									Імя:
									<span>{{reservation.name}}</span>
								</div>
							</div>
							<div class="bookings__item" *ngIf="isManager">
								<div class="bookings__icon">
									<i class="material-icons">phone</i>
								</div>
								<div class="bookings__text">
									Телефон:
									<a href="tel:{{reservation.phone}}"
										>{{reservation.phone}}</a
									>
								</div>
							</div>
							<div
								*ngIf="reservation.game"
								class="bookings__item"
							>
								<div class="bookings__icon">
									<i class="material-icons">sports_esports</i>
								</div>
								<div class="bookings__text">
									Гра: <span>Назва гри</span>
								</div>
							</div>
							<div class="bookings__item">
								<div class="bookings__icon">
									<i class="material-icons">payments</i>
								</div>
								<div class="bookings__text">
									Ціна:
									<span
										>{{reservation.times.length *
										1000}}грн</span
									>
								</div>
							</div>
							<div
								*ngIf="reservation.status === 'New'"
								class="bookings__item"
							>
								<wbutton (click)="cancel(reservation)">
									<span translate
										>Common.Cancel reservation</span
									>
								</wbutton>
							</div>
						</div>
						<!-- <div class="bookings-winner">
							<div class="bookings-winner__icon">
								<i class="material-icons">emoji_events</i>
							</div>
							<div class="bookings-winner__text">
								Імм'я переможця
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
