<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Ігри</div>
			</div>
			<div class="documents-main documents-main--nobar">
				<div class="documents-main-content">
					<div
						*ngFor="let game of games"
						routerLink="/game/{{game._id}}"
						class="documents-main-row"
					>
						<div class="documents-wrap">
							<div class="documents-img">
								<img
									[src]="(game.image ? url : '') + (game.image || 'assets/default.png')"
									[alt]="game.name"
								/>
							</div>
							<div class="documents-text">
								<div class="documents-text__title">
									{{game.name}}
								</div>
								<div
									class="documents-text__description"
									[innerHTML]="game.shortDescription"
								></div>
								<div class="game-additions cursor-pointer">
									<i
									(click)="$event.stopPropagation(); openVideo(game.trailer)"
									class="material-icons"
									*ngIf="game.trailer"
									>videocam</i>
									<span>Клікай, для ознайомлення з грою</span>
								</div>

								<div *ngIf="game.isMultiplayer" class="game-additions">
									<i class="material-icons">groups</i>
									<span>Можна грати з іншими людьми</span>
								</div>
								<div *ngIf="game.isStanding" class="game-additions">
									<i class="material-icons"
										>accessibility_new</i
									>
									<span>Можна грати стоячи</span>
								</div>
								<div *ngIf="game.isSitting" class="game-additions">
									<i class="material-icons">event_seat</i>
									<span>Можна грати сидячи</span>
								</div>
								<div class="game-years">Вік: {{game.afterAge || 18}}+</div>
								<div
									*ngIf="game.maxPlayers && game.maxPlayers > 1"
								>
									Гравці: 1-{{game.maxPlayers}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
